*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:#000;
}
li{
	list-style: none;
}
img{
	border:none;
}

/*---------------------------------------------------------------------------*/
/*导航栏里的下划线*/
.nav_line{
	display: inline-block;
	width:54px;
	border:1px solid red;
	border-width:1px 1px 0 1px;
	position:absolute;
	left:40px;
	top:72px;
	transition:all 1s ease;
}
/*---------------------------------------------------------------------------*/
/*轮播图部分*/
#roll{
	width:100%;
	height:560px;
	position:relative;
	overflow: hidden;
}
.roll_image{
	width:300%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	transition:all 1s ease;
}
.roll_image1{
	display: inline-block;
	width:33.33333%;
	height:560px;
	background: url("../img/banner-1.jpg") center center no-repeat;
}
.roll_image2{
	display: inline-block;
	width:33.33333%;
	height:560px;
	background: url("../img/banner-3.jpg") center center no-repeat;
}
.roll_image3{
	display: inline-block;
	width:33.33333%;
	height:560px;
	background: url("../img/banner-2.jpg") center center no-repeat;
}
.roll_list{
	width:100%;
	text-align: center;
	height:25px;
	position:absolute;
	top:80%;
}
.roll_list>span{
	display: inline-block;
	width:50px;
	height:20px;
	margin:0 7px;
	border-bottom: 2px solid #fff;
}
.roll_list>.on{
	border-bottom: 2px solid #E71F19;
}
/*---------------------------------------------------------------------------*/
/*第二部分服务范围*/
#section2{
	width:100%;
}
.section2_content{
	padding-top:50px;
	margin:0 auto;
	text-align: center;
}
.section2_content>a{
	display: inline-block;
	width:262px;
	height:78px;
	margin:0 auto;
}
.section2_text{
	width:580px;
	height:30px;
	font-size:14px;
	margin:14px auto 0px;
}
.section2_main_box{
	margin:30px -60px 0 0;
}
.section2_main_box>li{
	vertical-align: top;
	width:272px;
	height:390px;
	display: inline-block;
}
.section2_main_box>li>a{
	width:100%;
	height:200px;
	display: inline-block;
	overflow: hidden;
}
.section2_main_box>li>a>img{
	width:100%;
	height:100%;
	transition:all 1s ease;
}
.section2_main_box>li>a>img:hover{
	transform: scale(1.2);
	transition:all 1s ease;
}
.section2_main_box>li>div{
	width:100%;
	height:66px;
	line-height: 66px;
	text-align: left;
}
.section2_main_box>li>div>a{
	height:20px;
	line-height: 20px;
	font-size:18px;
	font-family: 微软雅黑, Arial;
}
.section2_main_box>li>div>a:hover{
	color:rgb(261,33,51);
}
.section2_main_box>li>p{
	width:100%;
	font-size:12px;
	line-height:24px;
	font-family: 宋体;
	text-align: left;
	color:rgb(136, 136, 136);
}
@media screen and (max-width:1200px) {
.section2_content{
	width:968px;
}
.section2_main_box {
 	width:1028px;
 }
 .section2_main_box>li{
 	margin:10px 95px 20px 45px;
 }
}
@media screen and (min-width:1200px) {
.section2_content{
	width:1200px;
}
.section2_main_box {
 	width:1260px;
 }
 .section2_main_box>li{
 	margin:0 40px 40px 0;
 }
}
.section2_footer{
	width:100%;
	height:80px;
	line-height: 80px;
	font-size:20px;
	background:rgb(231,31,25);
	font-family:微软雅黑, Arial;
	text-align: center;
	color:#fff;
}
/*---------------------------------------------------------------------------*/
/*第三部分成功案例*/
#section3{
	width:100%;
}
.section3_content{
	padding-top:50px;
	margin:0 auto;
	text-align: center;
}
.section3_content>a{
	display: inline-block;
	width:262px;
	height:78px;
	margin:0 auto;
}
.section3_text{
	width:580px;
	height:30px;
	font-size:14px;
	margin:14px auto 0px;
}
.section3_main_box{
	width:100%;
}
.section3_main_box:after{
	content:"";
	clear:both;
	display: block;
}
.section3_main_box>li{
	vertical-align: top;
	width:24%;
	margin:0.5%;
	display: inline-block;
	float: left;
}
.section3_main_box>li>a{
	width:100%;
	display: inline-block;
	position:relative
}
.section3_main_box>li>a>img{
	width:100%;
}
.section3_main_box>li>a>div{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	transition:all 0.3s ease;
}
.section3_main_box>li>a:hover>div{
	background: rgba(255,255,255,0.5);
	transition:all 0.3s ease;
}
.section3_main_box>li>div{
	width:100%;
	height:60px;
	line-height: 60px;
	text-align: left;
	overflow: hidden;
}
.section3_main_box>li>div>a{
	display: inline-block;
	width:93%;
	height:20px;
	line-height: 20px;
	font-size:18px;
	font-family: 微软雅黑, Arial;
	padding-left:2%;
	padding-right:5%;
	background: url("../img/cases_ico_phone_b.png") right center no-repeat;
}
.section3_main_box>li:hover>div{
	background: rgb(216,33,51);
}
.section3_main_box>li:hover>div>a{
	color: #fff;
}
.section3_footer{
	width:120px;
	height:36px;
	border:1px solid #333;
	margin:50px auto;
}
.section3_footer>a{
	display: inline-block;
	width:100%;
	height:36px;
	line-height: 36px;
	font-size:12px;
	font-family:宋体;
	text-align: center;
	color:rgb(216,33,51);
}
.section3_footer>a:hover{
	background:rgb(216,33,51);
	color:#fff;
}
/*---------------------------------------------------------------------------*/
/*第四部分解决方案*/
#section4{
	width:100%;
	background: url("../img/solutions_bg.jpg") center center no-repeat;
}
.section4_content{
	padding-top:50px;
	margin:0 auto;
	text-align: center;
}
.section4_content>a{
	display: inline-block;
	width:262px;
	height:78px;
	margin:0 auto;
}
.section4_text{
	width:580px;
	height:30px;
	font-size:14px;
	margin:14px auto 0px;
}
.section4_main_box{
	margin:30px auto 0;
}
.section4_main_box:after{
	content:"";
	clear:both;
	display: block;
}
.section4_main_box>li{
	vertical-align: top;
	width:204px;
	height:298px;
	padding:54px 25px 35px;
	display: inline-block;
	position:relative;
	overflow: hidden;
	float:left;
}
@media screen and (max-width:1200px) {
.section4_main_box {
 	width:1028px;
 }
 .section4_main_box>li{
 	margin:0;
 }
}
@media screen and (min-width:1200px) {
.section4_main_box {
 	width:1260px;
 }
 .section4_main_box>li{
 	margin:0 61px 0 0;
 }
}
.section4_main_box>li>a{
	width:170px;
	height:140px;
	margin-left:32px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.section4_main_box>li>a>img{
	height:200%;
	position:absolute;
	z-index: 2;
	top:0;
	left:0px;
	transition:all 0.25s ease 0.5s;
}
.section4_main_box>li:hover>a>img{
	top:-100%;
	transition:all 0.25s ease 0.5s;
}
.section4_main_box>li>div{
	width:100%;
	height:62px;
	line-height: 62px;
	text-align: left;
}
.section4_main_box>li>div>a{
	position:relative;
	z-index:2;
	height:30px;
	line-height: 30px;
	font-size:18px;
	font-family: 微软雅黑, Arial;
	transition:all 0s ease 0.25s;
}
.section4_main_box>li:hover>div>a{
	transition:all 0s ease 0.25s;
	color:#fff;
}
.section4_main_box>li>p{
	position:relative;
	z-index:2;
	width:100%;
	font-size:12px;
	line-height:24px;
	font-family: 宋体;
	text-align: left;
	color:rgb(136, 136, 136);
	transition:all 0s ease 0.25s;
}
.section4_main_box>li:hover>p{
	color:#fff;
	transition:all 0s ease 0.25s;
}
.section4_main_box>li>span{
	display: inline-block;
	position:absolute;
	width:254px;
	height:387px;
	top:387px;
	left:0;
	transition:all 0.5s ease;
}
.section4_main_box>li:hover>span{
	top:0px;
	transition:all 0.5s ease;
}
.section4_footer{
	width:120px;
	height:36px;
	margin:50px auto 0;
	padding-bottom: 50px;
}
.section4_footer>a{
	display: inline-block;
	width:100%;
	height:36px;
	line-height: 36px;
	font-size:12px;
	border:1px solid #333;
	font-family:宋体;
	text-align: center;
	color:rgb(216,33,51);
}
.section4_footer>a:hover{
	background:rgb(216,33,51);
	color:#fff;
}
/*---------------------------------------------------------------------------*/
/*第五部分解决方案*/
#section5{
	width:100%;
}
.section5_content{
	padding-top:50px;
	margin:0 auto;
	text-align: center;
}
.section5_content>a{
	display: inline-block;
	width:262px;
	height:78px;
	margin:0 auto;
}
.section5_text{
	width:580px;
	height:30px;
	font-size:14px;
	margin:14px auto 0px;
}
.section5_main{
	background: rgb(250,248,245);
}
.section5_main_box{
	width:1200px;
	height:346px;
	padding:44px 0 10px 0;
	margin:34px auto 0;
}
.section5_main_box:after{
	content:"";
	clear:both;
	display: block;
}
.section5_main_box>li{
	vertical-align: top;
	width:334px;
	height:140px;
	padding:0 25px;
	border:1px solid rgb(102,102,102);
	margin:20px 20px 10px 0;
	display: inline-block;
	position:relative;
	overflow: hidden;
	float:left;
	transition:all 0.5s ease;
}
.section5_main_box>li:hover{
	border:1px solid #D82133;
	height:160px;
	margin:10px 20px 0 0;
	transition:all 0.5s ease;
}
@media screen and (max-width:1200px) {
.section5_main_box {
 	width:812px;
 }
}
@media screen and (min-width:1200px) {
.section5_main_box {
 	width:1218px;
 }
}
.section5_main_box>li>div{
	width:334px;
	position:absolute;
	top:0px;
	left:25px;
	text-align:center;
	transition:all 0.5s ease;
}
.section5_main_box>li:hover>div{
	top:-70px;
	transition:all 0.5s ease;
}
.section5_main_box>li>div>img{
	padding-top:20px;
}
.section5_main_box>li>div>span{
	display: inline-block;
	width:100%;
	font-size:12px;
	height:12px;
	padding-top:5px;
}
.section5_main_box>li>div>div{
	width:100%;
	height:66px;
	line-height: 66px;
}
.section5_main_box>li>div>div>a{
	line-height: 66px;
	font-size:18px;
	font-family: 微软雅黑, Arial;
}
.section5_main_box>li:hover>div>div>a{
	color:#D82133;
}
.section5_main_box>li>div>p{
	width:322px;
	padding:6px;
	font-size:12px;
	line-height:24px;
	font-family: 宋体;
	color:rgb(102,102,102);
}
.section5_footer{
	width:120px;
	height:36px;
	margin:50px auto 0;
	padding-bottom: 50px;
}
.section5_footer>a{
	display: inline-block;
	width:100%;
	height:36px;
	line-height: 36px;
	border:1px solid #333;
	font-size:12px;
	font-family:宋体;
	text-align: center;
	color:rgb(216,33,51);
}
.section5_footer>a:hover{
	background:rgb(216,33,51);
	color:#fff;
}

